<% if current_user and current_user.has_role('Member') and current_user.person.try(:status)==true %>
    <li>
      <%= link_to root_path do %>
          <i class="material-icons">dashboard</i>
          <span class="nav-label">Dashboard</span>
      <% end %>
    </li>
    <li>
    <%= link_to current_user.person do %>
        <i class="material-icons">person</i>
        <span class="nav-label">My Profile</span>
    <% end %>
  </li>

  <li>
    <a href="http://localhost/cpd">
        <i class="material-icons">person</i>
        <span class="nav-label">My CPD</span>
    </a>
  </li>

  <li>
    <%= link_to events_path do %>
        <i class="material-icons">event</i>
        <span class="nav-label">Events</span>
    <% end %>
  </li>

  <li>
    <%= link_to trainings_path do %>
        <i class="material-icons">library_books</i>
        <span class="nav-label">Trainings</span>
    <% end %>
  </li>

<% end %>