<div class="panel-heading">
  Members
</div>

<div class="panel-body">
  <div class="col-sm-4">
    <div id="person_tree"></div>
  </div>

  <div class="col-sm-8">
    <div id="people">
      <%= render partial: 'people' %>
    </div>
  </div>
</div>