<div class="panel-heading">
  Members Not Paid for <%= BudgetYear.active %>
</div>

<div class="panel-body">
  <div class="col-sm-4">
    <div id="members_not_paid_tree"></div>
  </div>

  <div class="col-sm-8">
    <div id="members_not_paid">
      <%= render partial: 'members_not_paid' %>
    </div>
  </div>
</div>