<div class="panel-heading">
  Facilities
</div>

<div class="panel-body">
  <div class="col-sm-4">
    <div id="facility_tree"></div>
  </div>

  <div class="col-sm-8">
    <div id="facilities">
      <%= render partial: 'facilities' %>
    </div>
  </div>
</div>