<div class="panel-heading">
  Membership Payments
</div>

<div class="panel-body">
  <div class="col-sm-4">
    <div id="payments_tree"></div>
  </div>

  <div class="col-sm-8">
    <div id="payments">
      <%= render partial: 'payments/payments' %>
    </div>
  </div>
</div>