<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profession_category.name %>
</p>

<%= link_to 'Edit', edit_profession_category_path(@profession_category) %> |
<%= link_to 'Back', profession_categories_path %>
