<div class="panel-heading">
  Event Applicants
</div>
<div class="panel-body">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Person</th>
      <th>Applied Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @event_applicants.each do |event_applicant| %>
      <tr>
        <td><%= event_applicant.person %></td>
        <td><%= event_applicant.created_at.strftime("%B %d, %Y") %></td>
        <td><%= link_to 'Delete', event_applicant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>