<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
    <thead>
    <tr>
      <th>Member</th>
      <th>Membership Type</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @members.each do |member| %>
        <tr>
          <td><%= member %></td>
          <td><%= member.membership_type %></td>
          <td>
            <%= link_to member_path(member) do %>
                <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-list"></i> Details</button>
            <% end %>
            <%= link_to edit_member_path(member) do %>
                <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-edit"></i> Edit</button>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <br>

</div>
