<div class="panel-heading">
  ID Cards Management
</div>

<div class="panel-body">
  <div class="col-sm-4">
    <div id="id_cards_tree"></div>
  </div>

  <div class="col-sm-8">
    <div id="paid_members">
      <%= render partial: 'id_cards' %>
    </div>
  </div>
</div>